# Prerequisites
*.d

x64/
*/x64/

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.sys

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.vs/
*/Release
*/ARM
/ARM
*/ProxyDrv/MyDriver.h
*/MyDriver.h
*/Memmory/mm_vad.cpp
*/Memmory/mm_vad.h
zhaonian/driver_shellcode.h
*/Debug
*/Release/*
*/SSS_Drivers/Debug/*
*/GenCode/Debug/*
*/Debug/*
*/Win32/*
SSS_dll/driver_shellcode.h
*/**/driver_shellcode.h
TestDownLoad
out_put
